services:
  app:
    image: nginx:latest
    restart: unless-stopped
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/sites-enabled:/etc/nginx/sites-enabled
      - ./nginx/config:/etc/nginx/config
      - ./app:/app
    ports:
      - 8080:8080