:root {
    --color-bg: #000000;
    --color-text: #ffffff;
    --color-primary: #006FEE;
    --color-success: #17c964;
    --color-danger: #f31260;
    --color-content1: #18181b;
    --color-content2: #27272a;
    --border-radius: 0.75rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--color-bg);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background: var(--color-content1);
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: var(--color-text);
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color-text);
}

.required::after {
    content: " *";
    color: red;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-color: var(--color-content1);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background-color: var(--color-content2);
    color: var(--color-text);
}

input[type="text"]:focus {
    border-color: var(--color-primary);
    outline: none;
}

output {
    display: block;
    padding: 10px;
    background-color: var(--color-content2);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 0.5rem;
    min-height: 20px;
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    opacity: 1;
    transition: opacity 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-primary);
    opacity: 0.8;
}

.btn-secondary {
    border-radius: var(--border-radius);
    border-color: var(--color-text);
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

.error-message {
    display: flex;
    color: var(--color-danger);
}

.success {
    color: var(--color-bg);
    background-color: var(--color-success);
}

.error {
    color: var(--color-text);
    background-color: var(--color-danger);
}

.waiting {
    font-style: italic;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}